<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/login.js" defer></script>
  <title>Login</title>
</head>
<body>
  <input type="text" placeholder="아이디" id="id"><br>
  <input type="text" placeholder="비밀번호" id="pw"><br>
  <button>버튼</button>
</body>
</html